/*!
 * Variables
 * @tutorial https://web.dev/at-property/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-4/css-variables
 */

:root {
  --primary-color: #1c2541;
  --secondary-color: #ff8629;
  --accent-color: #76a6da;
  --secondary-accent-color: #e9f4ff;
  --menu-font-size: 20px;
}

@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-semibold;
  src: url(/fonts/Poppins-SemiBold.ttf);
}
